.error {
  color: red;
}

.loadMoreWrapper {
  margin-top: 15px;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.button {
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
  background-color: rgb(88, 96, 110);
  border: none;
  border-radius: 3px;
  color: aliceblue;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}
